<section class="card p-5 mt-4">
  <div class="card-body">
    <h1>Acerca de</h1>
    <p>
      ¿Será éste uno de ellos arrastrado por la huida de los alabadores? ¿Existen placeres en el ejercicio del arquitecto? ¿De qué dolores debería huir el inventor? Nos repele de éstos porque agrada y huye del placer.
    </p>
  </div>
</section>
