<div class="card card-body p-5 mt-4">
    <h1 class="display-4">NOTAS IBMV!</h1>
    <p class="lead">GRACIAS POR PREFERIR NUESTRA APLICASION </p>
    <hr class="my-4" />
    <p>¡El perdón de los placeres es algo de lo que hay libertad, y similar perdón de los dolores rechazados! Fueron eliminados cuando llegó y se fue. siendo de ellos


    </p>
    <div>
        <a class="btn btn-primary btn-lg" href="/registro" role="button">Registro</a>
    </div>
</div>